<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>Mozart_Programming_Interface</string>
  <key>CFBundleExecutable</key>
  <string>build.py</string>
  <key>CFBundleName</key>
  <string>Mozart_Programming_Interface</string>
  <key>CFBundleDisplayName</key>
  <string>Mozart Programming Interface</string>
  <key>CFBundleIconFile</key>
  <string>icon.ico</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>1.4.0</string>
</dict>
</plist>